* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: oklch(43.659% 0.01489 122.149);
    color: #FFF;
}

#page {
    max-width: 120rem;
    margin-inline: auto;
}

header {
    padding-block: 3rem;
    text-align: center;
}

fieldset {
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

fieldset div {
    margin-bottom: 1rem;

    label {
        display: block;
        margin-bottom: .5rem;
    }

    input {
        padding: 1rem;
        border-radius: 1rem;
        border: none;
        outline: none;
        color: oklch(0% 0 0);
    }

    input:focus {
        outline: .2rem solid oklch(0% 0 0);
    }

    input::placeholder {
        color: oklch(0% 0 0);
    }

input[type=checkbox],
input[type=radio] {
        outline: none;
    }

input[type=checkbox] + label,
input[type=radio] + label {
        display: inline;
    }

select {
        padding: 1rem;
        border-radius: 1rem;
        outline: none;
    }
}

button {
    padding: 1rem;
    width: 10rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: none;
    background: oklch(52.658% 0.26393 262.96);
    color: #fff;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
    background: oklch(14.426% 0.08326 278.955);
    transition: background .4s;
}

@media(max-width: 600px) {
    body {
        padding-inline: 1rem;
    }
}